extends layoutBS

block content
  .jumbotron
    h1 Login to Dorm Rating
    p You must have a gmail account to login into Dorm Rating
    
    a.btn.btn-danger(href="/auth/google")
      span.fa.fa-google-plus  Google
